<ion-view title="{{texts.title}}" scroll='true'>
    <ion-content scroll='true' class='detail-poll'>
        <div class="list menu-page">
            <div class="item top-poll-image" ng-show="poll.url.length > 1">
                <img src="{{poll.url}}" class="" ng-click="showImage(poll.url)"/>
            </div>
            <div class="item card-list big-question detail-poll">
                <h1>{{poll.question}}</h1>
            </div>
            <div class="item card-list detail-poll">
                <div class="row">
                    <div class="col-33">
                        {{poll.creationDate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-33 flex-left">
                        {{poll.hashtag}}
                    </div>
                    <div class="col-33 flex-centered">
                        {{poll.votes}} {{texts.votes}}
                    </div>
                    <div class="col-33 flex-right">
                        {{poll.name}}
                    </div>
                </div>
            </div>
            <div class="item card-list detail-poll">
                <div class="row answer-votes" ng-repeat="item in poll.answers">
                    <div class="col-34 flex-right">
                        {{item.text}}
                    </div>
                    <div class="col-66 flex-left percentage-container" style="width:100%">
                        <div ng-hide="item.votes == 0" class="answer-percentage flex-left answer-bg-color-{{$index}}" style="width:{{item.percentage}}%">
                            <span ng-hide="item.percentage<40">{{item.votes}} {{item.votes == 1 ? texts.vote : texts.votes}}</span>
                        </div>
                        <span class="outside-votes" ng-hide="item.percentage >=40">{{item.votes}} {{item.votes == 1 ? texts.vote : texts.votes}}</span>
                    </div>
                </div>
            </div>
            <div class="item completed-is-veted" ng-show="!data.fromMyPoll">
                <h3>Su usuario ya ha votado este Opin</h3>
            </div>
            <div class="item card-list ">
                <button class="button button-full icon-left ion-ios-arrow-back button-positive" ng-click="doBack()" style="margin-bottom: 0px !important;">{{texts.back}}</button>
            </div>
            <div class="item card-list ">
                <button class="button button-full icon-left ion-android-share-alt button-positive fixed-btn" ng-click="doShare()">{{texts.share}}</button>
            </div>
        </div>
        <div class="complete-screen-image-container" ng-show="detailedImageVisible" ng-click="hideImage()">
            <img src="{{poll.url}}" ng-click="hideImage()"/>
        </div>
    </ion-content>
</ion-view>