<ion-view title="{{texts.title}}" scroll='true'>
    <ion-content scroll='true' class='grey-content' overflow-scroll="true">
        <ion-refresher
            pulling-text="Actualizando..."
            on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list menu-page">
            <div class="item top-filter">
                <div class="button-bar">
                    <a ng-click="setFilter(2)" class="button button-outline {{data.filterActive == 2 ? 'filter-active' : ''}}">{{texts.important}}</a>
                    <a ng-click="setFilter(1)" class="button button-outline {{data.filterActive == 1 ? 'filter-active' : ''}}" >{{texts.latest}}</a>
                    <!--<a ng-click="setFilter(3)" class="button button-outline {{data.filterActive == 3 ? 'filter-active' : ''}}">{{texts.opened}}</a>-->
                    <!--<a ng-click="setFilter(4)" class="button button-outline {{data.filterActive == 4 ? 'filter-active' : ''}}">{{texts.closed}}</a>-->
                </div>
            </div>
            <div class="item top-filter-dark">
                <ul class="carousel">
                    <li ng-click="setStadistic(-1)" class="carousel-item {{-1 == data.stadistic ? 'selected-stadistic' : ''}}">
                        {{texts.all}}
                    </li>
                    <li ng-repeat="item in stadisticOrigin" ng-click="setStadistic(item.id)" class="carousel-item {{item.id == data.stadistic ? 'selected-stadistic' : ''}}">
                        {{item.name}}
                    </li>
                </ul>
            </div>
            <div class="item item-input-inset global-filter">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="{{texts.opin}}" class="opin-input" ng-model="search.stadistic">
                </label>
                <button ng-show='data.filterActive == 4' class="button button-small" ng-click="setFilter(data.filterActive, search.stadistic)">
                    {{texts.search}}
                </button>
            </div>
            <div class="item card-list no-polls" ng-show="polls.length == 0">
                
                <h3><i class="ion-help-circled"></i>{{texts.noPolls}}</h3>
            </div>
            <div class="item card-list" ng-repeat="poll in polls | filter:search">
                <div class="card " ng-click="poll.opened == '1' ? viewPoll(poll.id, poll.type) : viewPoll(poll.id, poll.type)">
                    <div class="row">
                        
                        <div class="col col-75 row-title">
                                <h3>{{poll.title}}</h3>
                        </div>    
                            <div class="col alignright list-date ">
                                <div class="alignright">{{poll.creationDate}}</div>
                            </div>                    
                    </div>
                    <div class="row ">
                        <div class="col-25 hash-tag ellipsis ">{{poll.stadistic}}</div>
                        <div class="col-25 hash-tag " style="text-align:center">{{poll.votes}} {{texts.votes}}</div>                         
                        <div class="col-25 hash-tag ellipsis " style="text-align: right">{{poll.name}}</div>
                        <div class="col col-25">
                            <i class="icon ion-android-camera" ng-show="poll.hasPhoto == '1'"></i>
                            <i class="icon ion-android-camera camera-no-photo" ng-hide="poll.hasPhoto == '1'"></i>
                        </div>
                    </div>
                </div>
            </div>               
        </div>
    </ion-content>
</ion-view>