<ion-view title="Registro" class="explain">
    <!--<ion-header-bar class="bar-energized explain-header">
        <div class="buttons">
            <button class="button icon ion-chevron-left" ng-click="goBack()"></button>
        </div>
    </ion-header-bar>-->
    <ion-content scroll="true" class="explain-content" style="background-color: #00c47a;">
        <ion-slide-box>
            <ion-slide>
                <img src="./img/slider1.png"/>
            </ion-slide>
            <ion-slide>
                <img src="./img/slider2.png"/>
            </ion-slide>
            <ion-slide>
                <img src="./img/slider3.png"/>
            </ion-slide>
            <ion-slide>
                <img src="./img/slider4.png"/>
                <button class="button button-block button-positive" ng-click="goBack()" style="position:relative; top:-35px;">
                    Entendido
                </button>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
