<ion-view>
    <ion-content scroll="true" class="register" ng-controller="RecoverCtrl">
        
                <div class="col">
            <div class="form-transparent padding">
                <div class="registo">
                    <br>
                    <div class="text-center light ">                 
                        <p class="Grey title">Ingresa tu correo regístrado para recuperar tu contraseña</p>
                    </div>
                    
                    <div class="item-input-inset">
                         <label class="item-input-wrapper box_redondo">
		                          <input type="text" placeholder="Email:" ng-model="data.email">
		                     </label>
                    </div>                       
                    <div class="col col-80 col-offset-10">
                        <div class="item-input-inset">
                            <button class="button button-block button-calm normal-text-button boton_redondo" ng-click="recover(data)">
                                 Restablecer Contraseña
                            </button>
                        </div>
                        <a ui-sref="login" class="original-text Grey linkIco">
							<p>Volver a iniciar sesión</p>
						</a>
                    </div>
                </div>
            </div>          
        </div>
    </ion-content>
</ion-view>

