<ion-view>
    <ion-header-bar  align-title="left"><ion-nav-bar></ion-nav-bar></ion-header-bar>
    <ion-content class="login">
        <br>
        <br>
        <div class="logo-login " style="min-height: 130px">
        </div>
        <div class="item-input-inset">
            <label class="item-input-wrapper fondoGrey boton_redondo">
              <input class="index" type="text" placeholder="Usuario" ng-model="data.username">
            </label>
        </div>
        <div class="item-input-inset">
            <label class="item-input-wrapper fondoGrey boton_redondo">
              <input class=" input" type="password" placeholder="Constraseña"
               ng-model="data.password">
            </label>
        </div>
        <div class="cont-checkbox text-left alignR padding">
            <input name="checkbox-1" id="checkbox-1" type="checkbox" value="true" checked ng-model="data.logueado">
            <label for="checkbox-1" type="checkbox" class="checkbox-custom-label">Mantener Logueado</label>             
        </div>
        <div class="col-80 col-offset-10">
            <button class="button button-block button-calm boton_redondo" ng-click="login(data)">
                <span class="button-center-text button-with-icon middle">
                    Ingresar
                </span>
            </button>
            <center class="margin-top">
                <a ui-sref="recover" class="original-text Grey">
                ¿Olvido su contraseña?
                </a>
            </center>
            <div class="col text-center">
                <h4 class="Grey">Si no tienes cuenta<br> regístrate ahora.</h4>
            </div>
            <button class="button button-block button-calm boton_redondo"
                ui-sref="register">
                Regístrate
            </button>
        </div>
    </ion-content>
</ion-view>
