<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content  drag-content="false">
        <ion-nav-bar class="bar-stable">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" id='side-menu-left'>
        <ion-header-bar class="bar-stable" style='height:60px'>

        </ion-header-bar>
        <ion-content style='top:60px;bottom:0px;' >
            <ion-list>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.polls' ? ' menu-active' : ''}}" ng-click="doNavigation('menu.polls')">
                    <i class="ion-android-checkbox-outline-blank"></i>{{texts.polls}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.completedPolls' ? ' menu-active' : ''}}" ng-click="doNavigation('menu.completedPolls')">
                    <i class="ion-android-checkbox-outline"></i>{{texts.completedPolls}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.myPolls' ? ' menu-active' : ''}}" ng-click="doNavigation('menu.myPolls')">
                    <i class="ion-android-list"></i>{{texts.myPolls}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.newPoll' ? ' menu-active' : ''}}" ng-click="doNavigation('menu.newPoll')">
                    <i class="ion-compose"></i>{{texts.newPoll}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.newReferendum' ? ' menu-active' : ''}}" ng-click="doNavigation('menu.newReferendum')">
                    <i class="ion-android-checkmark-circle"></i>{{texts.newReferendum}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.profile' ? ' menu-active' : ''}}" ng-click="doNavigation('menu.profile')">
                    <i class="ion-android-person"></i>{{texts.profile}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.share' ? ' menu-active' : ''}}" ng-click="doShare()">
                    <i class="ion-android-share-alt"></i>{{texts.share}}
                </ion-item>
                <ion-item nav-clear menu-close class="stable item ng-binding {{data.selectedItem == 'menu.mail' ? ' menu-active' : ''}}" >
                    <a class="menu-contact" href="mailto:contacto@opinion-app.com"><i class="ion-email"></i>{{texts.contact}}</a>
                </ion-item>
                <ion-item nav-clear menu-close class="stable " ng-click="logOut()">
                    <i class="ion-log-out"></i>{{texts.logOut}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
