<!-- templete actualmente en desuso. Inicialemnte la pantalla en la que se veían los datos de una encuesta propia no mostraba resultados -->
<ion-view title="{{texts.title}}" scroll='true'>
    <ion-content scroll='true' class='detail-poll'>
        <div class="list menu-page">
            <div class="item top-poll-image" ng-show="poll.url.length > 1">
                <img src="{{poll.url}}" style="min-height:150px"/>
            </div>
            <div class="item card-list detail-poll">
                <div class="row">
                    <div class="col-33">
                        {{poll.votes}} {{texts.votes}}
                    </div>
                    <div class="col-33 stars-container">
                        <i class="ion-ios-star yellow-star"></i>
                        <i class="ion-ios-star {{poll.importance >= 2 ? 'yellow-star' : ''}}"></i>
                        <i class="ion-ios-star {{poll.importance >= 3 ? 'yellow-star' : ''}}"></i>
                        <i class="ion-ios-star {{poll.importance >= 4 ? 'yellow-star' : ''}}"></i>
                        <i class="ion-ios-star {{poll.importance >= 5 ? 'yellow-star' : ''}}"></i>
                    </div>
                    <div class="col-33">
                        {{texts.endIn}}{{poll.daysToEnd}}{{poll.daysToEnd==1?texts.day:texts.days}}
                    </div>
                    <!--<div class="col-25">
                        {{poll.hashTag}}
                    </div>-->
                </div>
            </div>
            <div class="item card-list big-question detail-poll">
                <h1>{{poll.question}}</h1>
            </div>
            <div  ng-repeat="item in poll.answers" class="item card-list detail-poll answer-item">
                <div class="row">
                    <div >
                        <span>{{item.answer}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="complete-screen-image-container" ng-show="detailedImageVisible" ng-click="hideImage()">
            <img src="{{poll.url}}" ng-click="hideImage()"/>
        </div>
    </ion-content>
</ion-view>