<ion-view title="Nuevo referendum" scroll='true'>
    <ion-content scroll='true' class='white-content'>
        <div class="list menu-page">
            <!-- antes als encuestas llevaban un título para ser mostrado en los listados -->
            <div ng-show="false" class="item item-input item-stacked-label">
                <span class="input-label">{{texts.title}}</span>
                <input type="text" placeholder="{{texts.titlePlace}}" ng-model="data.title">
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">{{texts.OPIN}}</span>
                <input type="text" placeholder="{{texts.OPINPlace}}" ng-change="validateOPIN()" ng-model="data.OPIN">
            </div>
            <div class="item item-input item-stacked-label">
                <span class="input-label">{{texts.question}}</span>
                <input type="text" placeholder="{{texts.questionPlace}}" ng-model="data.question">
            </div>
            <!-- Inicialmente se podía programar cuando lanzar las encuestas -->    
            <div ng-show="false" class="item item-input item-stacked-label calendar">
                <span class="input-label">{{texts.startDate}}</span>
                <ionic-datepicker input-obj="datepickerObjectStart">
                    <button class="button button-block button-positive"> {{datepickerObjectStart.inputDate| date:'dd - MMMM - yyyy'}}</button>
                </ionic-datepicker>
            </div>

            <div class="item item-toggle item-stacked-label">
                <span class="input-label new-poll-answers">{{texts.hasEndDate}}</span>
                <label class="toggle">
                    <input type="checkbox" ng-model='data.hasEndDate'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div ng-show="data.hasEndDate" class="item item-input item-stacked-label calendar">
                <span class="input-label">{{texts.endDate}}</span>
                <ionic-datepicker input-obj="datepickerObjectEnd">
                    <button class="button button-block button-positive"> {{datepickerObjectEnd.inputDate| date:'dd - MMMM - yyyy'}}</button>
                </ionic-datepicker>
            </div>
            <div class="item item-toggle item-stacked-label">
                <span class="input-label">{{texts.accesType}}</span>
                <label class="toggle">
                    <input type="checkbox" ng-model='data.isPublic'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <!--<div class="item item-input item-stacked-label" ng-hide='data.isPublic'>
                <span class="input-label">{{texts.private}}</span>
                <input type="text" placeholder="{{texts.password}}" ng-model="data.password">
            </div>-->
            <!--<div class="item item-checkbox " ng-show='data.isPublic'>
                <label class="checkbox">
                    <input type="checkbox" ng-model="data.notification">
                </label>
                <span class="input-label">{{texts.notification}}</span>
            </div>-->
            <div class="item item-input item-select">
                <div class="input-label">
                    {{texts.stadistic}}
                </div>
                <select ng-model="data.stadistic" class="width-100">
                    <option ng-repeat="item in stadisticOrigin" value="{{item.id}}">{{item.name}}</option>
                </select>
            </div>
            <!-- antes la relevancia la instauraba el propio usuario -->
            <div ng-show="false" class="item item-input item-select">
                <div class="input-label">
                    {{texts.relevance}}
                </div>
                <select ng-model="data.relevance" class="width-100">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            
            <div class="item item-toggle item-stacked-label">
                <span class="input-label">{{texts.hasImage}}</span>
                <label class="toggle">
                    <input type="checkbox" ng-model='data.hasImage'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div ng-show="data.hasImage" class="item">
                <div class="card" ng-click="takePhoto()">
                    <i class="icon ion-images photo-ico"></i>
                    <img style="width:100%; min-height: 200px; background-color: transparent" ng-src="{{theImg.data}}"/>
                </div>
            </div>
            <div class="item last-item-create">
                <button class="button button-block" ng-click="createNew()">
                    {{texts.submit}}
                </button>
            </div>


        </div>
    </ion-content>
</ion-view>