<ion-view title="{{texts.title}}" scroll='true'>
    <ion-content scroll='true' class='detail-poll'>
        <div class="list menu-page">
            <div class="item top-poll-image" ng-show="poll.url.length > 1">
                <img src="{{poll.url}}" class="" ng-click="showImage(poll.url)"/>
            </div>
            <div class="item card-list big-question detail-poll">
                <h1>{{poll.question}}</h1>
            </div>
            <div class="item card-list detail-poll">
                <div class="row">
                    <div class="col-33">
                        {{poll.creationDate}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-33 flex-left">
                        {{poll.hashTag}}
                    </div>
                    <div class="col-33 flex-centered">
                        {{poll.votes}} {{texts.votes}}
                    </div>
                    <div class="col-33 flex-right">
                        {{poll.name}}
                    </div>
                </div>
            </div>
            <div ng-click="setSelected(item.id)" ng-repeat="item in poll.answers" class="item card-list detail-poll answer-item {{data.selected == item.id|| data.selecteds.indexOf(item.id) > -1 ? 'answer-selected' : ''}}">
                <div class="row">
                    <div class="col-25">
                        <div class="check-box">
                            <i class="ion-checkmark-round"></i>
                        </div>                         
                    </div>
                    <div class="col-75">
                        <span>{{item.answer}}</span>
                    </div>
                </div>
            </div>
            <div class="item button-item card-list big-question detail-poll">
                <button class="button login-btn button-block" ng-click="doAnswer(poll.id)">
                    <b>{{texts.vote}}</b><span class="btn-side-text">{{texts.andSee}}</span>
                </button>
                <div class="button-bar">
                    <a class="button icon-left ion-ios-arrow-back fixed-btn twin-buttons"  ng-click="doBack()">Volver</a>
                    <a class="button icon-left ion-android-share-alt fixed-btn twin-buttons" ng-click="doShare()">Compartir</a>
                </div>
            </div>

        </div>
        <div class="complete-screen-image-container" ng-show="detailedImageVisible" ng-click="hideImage()">
            <img src="{{poll.url}}" ng-click="hideImage()"/>
        </div>
    </ion-content>
</ion-view>