<ion-view title="Mi perfil" scroll='true'>
    <ion-content scroll='true' class='white-content profile'>
        <div class="list menu-page">
            <div class="item flex-centered">
                <img src="./img/logo.jpg"/>
            </div>
            <!--<div class="item">
                <div class="row">
                    <div class="col-34 flex-right">{{texts.phone}}</div>
                    <div class="col-66 flex-left">{{profile.mobile.length > 0 ? profile.mobile : texts.noIntroduced}}</div>
                </div>
            </div>-->
            <div class="item">
                <div class="row">
                    <div class="col-34 flex-right">{{texts.mail}}</div>
                    <div class="col-66 flex-left">{{profile.email.length > 0 ? profile.email : texts.noIntroduced}}</div>
                </div>
            </div>
            <hr/>
            <div class="item">
                <div class="row">
                    <div class="col-33 flex-centered">{{profile.gender == 'H' ? texts.man : "" }}{{profile.gender == 'M' ? texts.woman : "" }}{{profile.gender == 'X' ? texts.other : "" }}</div>
                    <div class="col-33 flex-centered">{{profile.age}} {{texts.years}}</div>
                    <div class="col-33 flex-centered">{{profile.country}}</div>
                </div>
            </div>
            <hr/>
            <div class="item flex-centered">
                <span class="active-box">{{texts.active}}</span>
            </div>            
            <div class="item">
                <div class="row">
                    <div class="col-33 flex-centered flex-column">
                        <span>{{profile.ownPolls}}</span>
                        <p class="flex-centered">{{texts.ownPolls}}</p>
                    </div>
                    <div class="col-33 flex-centered flex-column">
                        <span>{{profile.completedPolls}}</span>
                        <p class="flex-centered">{{texts.completedPolls}}</p>
                    </div>
                    <div class="col-33 flex-centered flex-column">
                        <span>{{profile.score}}</span>
                        <div class="stars-container">
                            <i class="ion-ios-star yellow-star"></i>
                            <i class="ion-ios-star {{profile.score >= 2 ? 'yellow-star' : ''}}"></i>
                            <i class="ion-ios-star {{profile.score >= 3 ? 'yellow-star' : ''}}"></i>
                            <i class="ion-ios-star {{profile.score >= 4 ? 'yellow-star' : ''}}"></i>
                            <i class="ion-ios-star {{profile.score >= 5 ? 'yellow-star' : ''}}"></i>
                        </div>
                        <p class="flex-centered">{{texts.puntuation}}</p>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="item">
                <div class="row">
                    <div class="col-10"></div><div class="col-80 flex-centered">{{texts.registerDate}} {{profile.registerDate}}</div><div class="col-10"></div>
                </div>
            </div>
            <hr/>
            <br/>
            <!--<div class="item item-toggle item-stacked-label">
                <span class="input-label" style="padding-left: 15px">{{texts.notification}}</span>
                <label class="toggle">
                    <input ng-change="changeingNotification()" type="checkbox" ng-model='profile.notificationPolls'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>-->
        </div>
    </ion-content>
</ion-view>

