<ion-view title="Registro">
    <ion-content scroll="true" class="register" ng-controller="RegisterTwoCtrl">
        
                <div class="col">
            <div class="form-transparent padding">
                <div class="registo">
                    <div class="text-center light ">                 
                        <h1 class="titleAll white">Regístrate Paso 2/2</h1>
                    </div>
                    <br>
                    <label class="padding">Fecha de nacimiento</label>
                    <div class="item-input-inset" ng-click="click()">
                        <label class="item-input-wrapper box_redondo">
                          <input type="text" placeholder="Fecha de nacimiento:" 
                            ng-model="data.date_of_birth" readonly>
                        </label>
                    </div> 
                    <label class=" padding">Genero</label>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper box_redondo selectTransparent">    
                            <select class="transparentesSelect" ng-model="data.gender">
                                <option value="">Genero</option>        
                                <option value="M" >Masculino</option>
                                <option value="F" >Femenino</option>  
                            </select>   
                        </label>
                    </div>
                

                    <div class="col col-80 col-offset-10">
                        <div class="item-input-inset">
                            <button class="button button-block button-calm normal-text-button boton_redondo" ng-click="enviar()">
                                Registrese
                            </button>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </ion-content>
</ion-view>
