<ion-view title="Registro">
    <ion-content scroll="true" class="register" ng-controller="RegisterCtrl">
        
                <div class="col">
            <div class="form-transparent padding">
                <div class="registo">
                    <div class="text-center light ">                 
                        <h1 class="titleAll white">Regístrate Paso 1/2</h1>
                    </div>
                    <br>
                    <label class="padding">Usuario</label>
                    <div class="item-input-inset">
                         <label class="item-input-wrapper box_redondo">
                          <input type="text" placeholder="Usuario:" ng-model="data.user">
                         </label>
                    </div>   
                    <label class="padding">Email</label>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper box_redondo">
                          <input type="text" placeholder="Email:" ng-model="data.email">
                        </label>
                    </div>
                    <label class="padding">Telefono</label>
                    <div class="item-input-inset">
                         <label class="item-input-wrapper box_redondo">
                          <input type="text" placeholder="Telefono:" ng-model="data.telefono">
                         </label>
                    </div>
                    <label class="padding">Contraseña</label>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper box_redondo">
                          <input type="password" placeholder="Contraseña:" ng-model="data.pass">
                        </label>
                    </div>
                    <label class="padding">Repetir contraseña</label>
                    <div class="item-input-inset">
                        <label class="item-input-wrapper box_redondo">
                          <input type="password" placeholder="Repetir contraseña:" ng-model="data.passrepeat">
                        </label>
                    </div>

           

                    <div class="col col-80 col-offset-10">
                        <div class="item-input-inset">
                            <button class="button button-block button-calm normal-text-button boton_redondo" ng-click="enviar()">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </div>
            </div>          
        </div>
    </ion-content>
</ion-view>
