<ion-view title="{{texts.title}}" class="register">
    <ion-header-bar  align-title="left">
        <ion-nav-bar class="bar-stable" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-ios-arrow-left"  ng-click="doBack()">
                </button>
            </ion-nav-buttons>
    </ion-header-bar>
    <ion-content scroll="false" class="login">
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{texts.name}}</span>
                <input type="text" placeholder="" ng-model="data.name">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{texts.pass}}</span>
                <input type="password" placeholder="" ng-model="data.pass">
            </label>
            <label class="item" ng-show="data.error != ''">
                <span class="register-error">{{data.error}}</span>
            </label>
            <div class="item pre-last-item-btn">
                <button class="button button-block" ng-click="doRemember()">
                    {{texts.remember}}
                </button>
            </div>
            <div class="item last-item-btn">
                <button class="button button-block" ng-click="doSend()">
                    {{texts.send}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
