<ion-view class="register">
    <ion-header-bar  align-title="left">
        <ion-nav-bar class="bar-stable" align-title="left"></ion-nav-bar>
    </ion-header-bar>
    <ion-content scroll="false" class="login">
        <div class="list list-inset">
            <label class="item">
                <span class="register-error">{{texts.explain}}</span>
            </label>
            <label class="item item-input item-stacked-label" >
                <span class="input-label">{{texts.countrie}}</span>
                <input type="text" placeholder="" ng-model="data.countrie" ng-change="countrieChange()" ng-focus="countrieChange()">
            </label>
            <div class="item list card" ng-show="data.showList && data.countrie != ''">
                <div class="card" ng-repeat="countrie in countries | filter:data.countrie" ng-click="setCountrie(countrie)">
                    {{countrie.name}}
                </div>
            </div>
            <div class="item last-item-btn">
                <button class="button button-block" ng-click="doSend()">
                    {{texts.send}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
