<ion-view title="{{texts.title}}" class="register">
    <ion-header-bar  align-title="left">
        <ion-nav-bar class="bar-stable" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-ios-arrow-left"  ng-click="doBack()">
                </button>
            </ion-nav-buttons>
    </ion-header-bar>
    <ion-content scroll="false" class="login">
        <div class="list list-inset">
            <label class="item">
                <span class="register-error">{{data.explain}}</span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{texts.date}}</span>
                <form>
                    <div class="row">
                        <!--<div class="col col-25">
                            <input type="number" min="1" max="31" ng-model="data.day"/>
                        </div>
                        <div class="col col-50 item-select">
                            <select ng-model="data.month">
                                <option value="{{$index}}" ng-repeat="month in texts.months">{{month}}</option>
                            </select>
                        </div>
                        <div class="col col-25">
                            <input type="number" min="1900" max="2016" ng-model="data.year"/>
                        </div>-->
                        <input type="date" ng-model="data.day" class="reg6-date"/>
                        
                    </div>
                </form>
            </label>
            <label class="item" ng-show="data.showError">
                <span class="register-error">{{texts.errorDate}}</span>                    
            </label>
            <div class="item last-item-btn">
                <button class="button button-block" ng-click="doSend()">
                    {{texts.send}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
