<ion-view title="{{texts.title}}" class="register">
    <ion-header-bar  align-title="left">
        <ion-nav-bar class="bar-stable" align-title="left">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-ios-arrow-left"  ng-click="doBack()">
                </button>
            </ion-nav-buttons>
    </ion-header-bar>
    <ion-content scroll="false" class="login">
        <div class="list list-inset">
            <label class="item">
                <span class="register-error">{{data.explain}}</span>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">{{texts.gender}}</span>
                <div class="row">
                    <div class="col col-100 item-select">                    
                        <select ng-model="data.gender">
                            <option value="{{$index}}" ng-repeat="gender in texts.genders">{{gender}}</option>
                        </select>
                    </div>
                </div>
            </label>
            <div class="item last-item-btn">
                <button class="button button-block" ng-click="doSend()">
                    {{texts.send}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
