<ion-view title="" class="register">
    <ion-content scroll="false" class="login">
        <div class="list list-inset">
            <label class="item">
                <span class="register-congratulations">{{texts.congratulations}}</span>
            </label>
            <div class="item last-item-btn">
                <button class="button button-block" ng-click="begin()">
                    {{texts.begin}}
                </button>
                <button class="button button-block" ng-click="viewTuto()">
                    {{texts.view}}
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
