/* Empty. Add your own CSS if you like */
.rounded-thumbnail{
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
    min-height: 80px !important;
    border: solid 3px green;
    float: left !important;
    margin-left: 15px !important;
    margin-top: 15px !important;
}

.selected-stadistic{
    color: green !important;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
}

.register input[type="date"]{
    margin-right: 25px;
    color: white;
    background-color: #048F52;
    min-width: 50%;
    max-width:165px;
}

.registration-date-type-container{
    background-color: #048F52;
    width: 175px;
    position: absolute;
    right: 25px;
    padding-left: 15px;
    border-radius: 5px;
    height: 45px;
    margin-top: -5px;
}

.item.top-poll-image{
    background-color:#E6E7E9 !important;
    max-height: 200px;
        
}
.item.top-poll-image:after{
    display:none !important;
}

.top-poll-image img{
    //width:150% !important;
}

.opin-input::-webkit-input-placeholder {font-weight :bold; }
.opin-input:-moz-placeholder { font-weight: bold; }
.opin-input::-moz-placeholder {font-weight: bold; }
.opin-input:-ms-input-placeholder{font-weight: bold; }


.menu-page .card-list .card .row-title h3{
    white-space:normal;
}

.card-list .ion-android-camera{
    font-size: 25px;
    color: #07BE65;
    float:right;
    margin-top: -10px;
    //margin-left: 15px;
}

.card-list .ion-android-camera.camera-no-photo{
    color: #E6E7E9;
}

.list-date{
    -webkit-justify-content: flex-end !important;
    -moz-justify-content: flex-end !important;
    justify-content: flex-end !important;
    font-size: 12px;
}

.menu-page .card-list{
    padding:5px;
    padding-bottom: 0px;
}

.menu-page .card-list .row{
    padding: 2px;
}

.menu-page .card-list .hash-tag{
    font-size: 12px;    
}

.menu-page .card-list .hash-tag:first-child{
    margin-left: 5px;
}

.rounded-thumbnail{
    width: 150px !important;
    height: 150px !important;
    margin-left: 50% !important;
    position: relative;
    left: -75px;
    margin-bottom: 10px;
}

.menu-page .card-list.detail-poll.big-question h1{
    font-size: 25px;
    font-weight: normal;
}

.twin-buttons{
    background-color: #048F52 !important;
    border-color: #048F52 !important;
    color: white !important;
    margin:2px;
}

.platform-ios #side-menu-left .bar-header{
    margin-top: 25px;
}
.platform-ios #side-menu-left .scroll-content{
    margin-top:25px;
}

#side-menu-left .item{
    font-size:14px;
    padding: 13px !important;
}

.menu-page .item.top-filter{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu-page .item.top-filter-dark{
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu-page .item.global-filter{
    padding-top: 2px;
    padding-bottom: 2px;
}


.completed-is-veted{
    background-color: lightgray;
    text-align: center; 
}

.complete-screen-image-container{
    position: fixed;
    top:0px;
    left:0px;
    z-index:9999;
    max-width:100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    bottom:0px;
    padding-bottom: 10000px;
    background-color: rgba(0,0,0,0.6)
}
.complete-screen-image-container img{
    position: fixed;
    top: 5px;
    z-index: 9999;
    max-width: 100%;
    max-height: 500px;
    width: 100%;
    height: auto;

}
.scroll-content{
    background-color: white;
}
ion-view {
    background-color: white !important;
}
.login, .register {
    background-color: #07BE65 !important;
}

.logo-login{
    height: calc( 100% - 575px) !important;
}

.register .ion-ios-arrow-left:before{
    color: white;
}

.register .list-inset{
    background-color: transparent;
    height: 100%;
}
.register .list-inset .item-stacked-label{
    padding-left:  0px !important;
}
.register .list-inset .item-stacked-label span{
    color: white !important;
    float: left;
}
.register .register-error{
    color: #CC3300;
    white-space: normal !important;
}
.register .register-congratulations{
    color: white;
    white-space: normal !important;
    font-size: 35px
}

.register .list-inset .item-stacked-label input[type="text"], .register .list-inset .item-stacked-label input[type="password"]{
    padding-left: 10px;
}

.register .item-select{
    max-height: 34px;
    height: 34px;
    top: 5px;
}

.register .item-select select {
    max-width: 100% !important;
    width: 100% !important;
    border-radius: 2px !important;
}

.register .last-item-btn{
    position: absolute;
    bottom: 30px;
    width:100%;
}

.platform-android .register .last-item-btn{
    z-index: 0;
}

.register .list .item.list.card{
    max-height: 200px;
    overflow-y: auto;
    padding-right: 0px;
}

.register .list .item.list.card .card{
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.register .list-inset .item.item-input input[type="number"]{
    padding-right: 5px;
    padding-left: 10px;
}

.platform-ios.keyboard-open .register .scroll-content{
    margin-top: 160px;
}

.loading-active .sweet-alert{
    z-index: 5 !important;
}

.loading-active .loading-container{
    z-index:99999;
}

.reg6-date{
    width: 100% !important;
    max-width: 100% !important;
}

.platform-ios .sweet-alert h2{
    color: #575757;
    font-size: 21px;
    text-align: center;
    font-weight: 600;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 30px;
    display: block;
}

.sweet-alert .sa-button-container .cancel{
    background-color: #007fff;
}


